<div class="banner">
    <div class="banner-title">
        <h1>Bem-vindo ao Melhor da Culinária Alemã</h1>
        <h2>Descubra a autêntica gastronomia alemã em um ambiente acolhedor e encantador</h2>
    </div>
</div>
<section class="content">
    <div class="buffet">
        <h1>Nosso Buffet</h1>
        <div class="w-full px-60 max-lg:px-36 max-md:px-32 max-sm:px-4">
            <p class="w-full">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non itaque sunt facere ullam repellat voluptas alias. Eum culpa quae, ducimus fugit amet dolorum fuga error quasi consequuntur, aut nisi magnam!</p>
        </div>
    </div>
</section>
